<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!-- css -->
  <link rel="stylesheet" href="dist/css/all.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/bootstrap-material-design/dist/css/material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <!--<script src="node_modules/bootstrap-material-design/node_modules/jquery/dist/jquery.min.js"></script>-->
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-route/angular-route.js"></script>
  <script src="node_modules/apisdk/apisdk.js"></script>
  <script src="dist/js/main.js"></script>
  <script src="route.js"></script>
  <script src="api.js"></script>
</head>
<body ng-app="app">
<div ng-controller="mainController">
  <header>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="material-icons">restaurant_menu</i>剁剁剁外卖</h3>
        <ul class="menu">
          <li><a href="#/" class="btn btn-primary">首页</a></li>
          <li><a href="#/myorder" class="btn btn-primary">我的订单</a></li>
          <li><a href="#/firm" class="btn btn-primary">购物车</a></li>
          <li><a href="#/myinfo" class="btn btn-primary">个人信息</a></li>
          <li><a href="#/message" class="btn btn-primary">公告</a></li>
        </ul>
        <div class="login">
          <a href="#/login" class="btn btn-primary">登陆</a>
          <a href="#/sign" class="btn btn-primary">注册</a>
        </div>
      </div>
    </div>
  </header>
  <aside>
    <div class="aside-bar">
      <div ng-repeat="items in cateGory">
        <a class="category-btn" ng-href="/" ng-bind="items.name" ng-click="changeType(items.id)" ng-class="{true:active}[items.id===type]"></a>
      </div>
    </div>
  </aside>
  <div class="content" class="view">
    <div ng-view></div>
  </div>
</div>
</body>
</html>