//index
[ng-controller='mainController'] {
  .panel {
    .panel-heading {
      padding: 5px;
      height: 70px;
      overflow: hidden;
      line-height: 55px;
    }
    h3 {
      .material-icons {
        font-size: 30px;
        vertical-align: bottom;
      }
      float: left;
      padding: 15px;
    }
    .menu {
      display: inline-block;
      float: left;
      li {
        display: inline-block;
      }
    }
    .login {
      float: right;
      padding: 0 5px;
    }
  }

  .aside-bar {
    float: left;
    margin-top: 10px;
    height: 500px;
    text-align: center;
    ul {
      padding: 0;
    }
    .btn-lg {
      width: 170px;
    }
    .sidbar-btn {
      width: 170px;
      height: 500px;
      box-shadow: 2px 2px 5px #9C9C9C;
      overflow: hidden;
    }

  }
  .content {
    margin: 10px 20px 0 190px;
    box-shadow: 2px 2px 5px #9C9C9C;
    min-height: 500px;
    overflow: auto;
  }
}

[ng-controller="menuController"] {
  .foot-repeat {
    padding: 0 60px;
    overflow: auto;
    .food-box {
      background-color: rgba(128, 128, 128, .1);
      float: left;
      margin: 30px;
      width: 170px;
      height: 220px;
      text-align: center;
      font-size: 12px;
      .food-title {
        margin: 10px 0;
      }
      .food-img {
        height: 140px;
        width: 140px;
      }
      .food-price {
        padding-top: 20px;
      }
    }
  }

}

[ng-controller='detailController'] {
  .detail-form {
    padding: 30px;
    .control-label {
      text-align: right;
    }
    div {
      margin-bottom: 10px;
    }
    .detail-img {
      width: 200px;
      height: 200px;
    }
  }
}

[ng-controller="firmController"] {
  padding: 10px;
  table {
    th {
      text-align: center;
    }
    tbody {
      text-align: center;
    }
  }
  .userInfo {
    margin: 20px 300px;
    div {
      margin-bottom: 40px;
      label {

      }
    }
    .form-control {
      width: 400px;
      display: inline-block;
    }
  }
}

[ng-controller='infoController'] {
  .info-box {
    margin: 40px 300px;
    div {
      margin-bottom: 10px;
    }
  }
}

[ng-controller='myorderController'] {
  .orderInfo {
    padding: 20px;
  }
}

[ng-controller = 'loginController'] {
  .login-box {
    div {
      padding: 15px 10px;
    }
    margin: 20px 300px;
    box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.06), 5px 3px 85px 12px rgba(0, 0, 0, 0.16) inset;
  }
}

[ng-controller = 'signController'] {
  .sign-box {
    margin: 20px 300px;
    box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.06), 5px 3px 85px 12px rgba(0, 0, 0, 0.16) inset;
    div {
      padding: 10px 10px;
    }
    .form-control {
      width: 250px;
    }

  }

}

