<div ng-controller="busmainController">
  <div class="busmain-box">
    <table class="table table-striped">
      <thead>
      <th>id</th>
      <th>菜名</th>
      <th>价格</th>
      <th>参考图片</th>
      <th>操作</th>
      </thead>
      <tbody>
      <tr ng-repeat="items in data.products">
        <td ng-bind="items.id"></td>
        <td ng-bind="items.name"></td>
        <td ng-bind="items.price"></td>
        <td><img ng-src="{{items.imgurl}}" width="100" height="100"></td>
        <td>
          <a class="btn btn-primary" ng-href="/bus/edit/{{items.id}}">修改</a>
          <button class="btn btn-warning" ng-click="delete(items.id,$index)">删除</button>
        </td>
      </tr>
      </tbody>
    </table>
     <paging params="params" list="items" callback="updateList"></paging>
  </div>
</div>