<div ng-controller="firmController">
  <div>
    <table class="table table-striped table-hover ">
      <thead>
      <th>#</th>
      <th>菜名</th>
      <th>单价</th>
      <th>数量</th>
      <th>操作</th>
      </thead>
      <tbody>
      <tr ng-repeat="item in cart">
        <td ng-bind="item.id"></td>
        <td ng-bind="item.name"></td>
        <td ng-bind="item.price"></td>
        <td ng-bind="item.number"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="userInfo">
    <div>
      <label>总价</label>
      <span ng-bind="data.totalprice"></span>
    </div>
    <div>
      <label>配送地址</label>
      <input type="text" class="form-control" ng-model="user.addresses[0].location">
    </div>
    <div>
      <label>联系方式</label>
      <span ng-bind="user.mobile"></span>
    </div>
    <div>
      <label>预计送达时间</label>
      <span ng-bind="destime"></span>
    </div>
    <button class="btn btn-primary" ng-click="addList()">确认下单</button>
  </div>
</div>