[ng-controller='busmainController']{
  .busmain-box {
    padding: 20px;
    th{
      text-align: center;
    }
    td {
      text-align: center;
      vertical-align: middle;
    }
  }
}
[ng-controller='editController'] {
  .edit-box {
    label {
      width: 100px;
      vertical-align: top;
    }
    div {
      margin-bottom: 10px;
    }
    .form-control {
      width: 300px;
      display: inline-block;

    }
    .panel-body {
      padding: 20px;
    }
    img {
      width: 150px;
      height: 150px;
    }
    .save-btn {
      margin-left: 100px;
    }
  }
}