[ng-controller='busmainController']{
  .busmain-box {
    padding: 20px;
    th{
      text-align: center;
    }
    td {
      text-align: center;
      vertical-align: middle;
    }
  }
}
[ng-controller='editController'] {
  .edit-box {
    label {
      width: 100px;
      vertical-align: top;
    }
    div {
      margin-bottom: 10px;
    }
    .form-control {
      width: 300px;
      display: inline-block;

    }
    .panel-body {
      padding: 20px;
    }
    img {
      width: 150px;
      height: 150px;
    }
    .save-btn {
      margin-left: 100px;
    }
  }
}
[ng-controller='addController']{
  .add-box {
    label {
      width: 100px;
      vertical-align: top;
    }
    div {
      margin-bottom: 10px;
    }
    .form-control {
      width: 300px;
      display: inline-block;

    }
    .panel-body {
      padding: 20px;
    }
    img {
      width: 150px;
      height: 150px;
    }
    .save-btn {
      margin-left: 100px;
    }
  }
}
[ng-controller="mesController"] {
  .panel-body {
    height: 410px;
    .business {
      margin: 20px 300px;
    }
    .form-control {
      margin-bottom: 30px;
    }
    .user {
      width: 300px;
      height: 400px;
      box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.06), 5px 3px 85px 12px rgba(0, 0, 0, 0.16) inset;
      margin: 20px auto;
    }
  }


}
[ng-controller ="busDetailController"] {
  .busDetail-box{
    label {
      width: 100px;
      vertical-align: top;
    }
    div {
      margin-bottom: 10px;
    }
    span {
      width: 300px;
      display: inline-block;

    }
    .panel-body {
      padding: 20px;
    }
    img {
      width: 150px;
      height: 150px;
    }
    .edit-btn {
      margin-left: 100px;
    }
  }
}
//[ng-controller="busOrderDetailCtr"] {
//
//}