<div ng-controller="addController">
  <div class="add-box">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>商品添加</h3>
      </div>
      <div class="panel-body">
        <div>
          <label>名称</label>
          <input type="text" class="form-control" ng-model="params.name">
        </div>
        <div>
          <label>类别</label>
          <select class="form-control" ng-model="params.cid" ng-options="item.id as item.name for item in cate">
            <option value="">请选择分类</option>
          </select>
        </div>
        <div>
          <label>参考图片</label>
          <input type="file" class="form-control" id="file-btn">
        </div>
        <div>
          <label>描述</label>
          <textarea rows="3" class="form-control" ng-model="params.description"></textarea>
        </div>
        <div>
          <label>价格</label>
          <input type="number" class="form-control" ng-model="params.price">
        </div>
        <div>
          <button class="btn btn-primary save-btn" ng-click="save()">保存</button>
        </div>
      </div>
    </div>
  </div>
</div>